# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
apps/web/node_modules
.DS_Store
dist
apps/web/dist
dist-ssr
coverage
*.local

apps/web/cypress/videos/
apps/web/cypress/screenshots/
/bin/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
